* {
    box-sizing: border-box;
    font-family: 'Baloo Tamma 2', cursive;
}
  
body {
    margin: 0;
    font-family: Helvetica;
    
}

.header {
    background-color: #009473;
    color: floralwhite;
    align-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50%;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: xx-large;
    border-style: solid;
    border-color: #5c4031;
}
.board {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}
#green_button { /* top left */
    
    width: 0;
    height: 0;
    border-bottom: 200px solid darkgreen;
    border-left: 200px solid transparent;
}
#red_button { /* top right */
    
    width: 0;
    height: 0;
    border-bottom: 200px solid darkred;
    border-right: 200px solid transparent;
}
#yellow_button { /* bottom left */

    width: 0;
    height: 0;
    border-top: 200px solid goldenrod;
    border-left: 200px solid transparent;
}
#blue_button { /* bottom right */
  
    width: 0;
    height: 0;
    border-top: 200px solid darkblue;
    border-right: 200px solid transparent;
}